* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.first {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 800px;
  gap: 1rem;
  margin-top: 1rem;
}

.userInfoWeather {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.userInfo {
  background-color: #5746ea;
  padding: 0.25rem;
  width: 400px;
  height: 180px;
  display: flex;
  gap: 10px;
  border-radius: 20px;
}

.image img {
  height: 100%;
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}

.user * {
  font-family: 400;
  font-size: 1rem;
  width: 100px;
}

.userName {
  font-size: 1.25rem;
  font-weight: 500;
}

.genres {
  display: flex;
  width: 250px;
  max-height: 90px;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow: auto;
}

.genres div {
  background-color: #9f94ff;
  width: 100px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

.weather {
  width: 400px;
}

.dateTime {
  height: 40px;
  display: flex;
  gap: 12px;
  padding: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #ff4ade;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.hr {
  height: 60px;
}

.weatherInfo,
.status,
.temperature,
.wind {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherInfo {
  height: 60px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #101744;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.status {
  flex-direction: column;
  padding: 5px;
}

.status div {
  font-weight: 400;
  font-size: 0.8rem;
}

.temperature {
  flex-direction: column;
  gap: 0.5rem;
}

.tempText {
  font-size: 1.75rem;
}

.wind {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}
.windInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.windInfo > div {
  display: flex;
  flex-direction: column;
}

.newsSection {
  margin: 1rem;
  margin-left: -2rem;
}
.newsCard {
  width: 300px;
  height: 550px;
  position: relative;
}

.newsImage {
  height: 300px;
}

.newsImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.content {
  height: 280px;
  width: 300px;
  padding: 15px;
  display: flex;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content p {
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.heading {
  height: 100px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 36.25%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  
}

.heading h4 {
  max-height: 2rem;
  line-height: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.date {
  display: flex;
  gap: 5px;
  font-size: 0.8rem;
}

.button {
  margin-top: 1rem;
  position: absolute;
  right: 0;
}

.button button {
  border: none;
  outline: none;
  padding: 8px 25px;
  border-radius: 15px;
  background-color: #11b800;
  color: #fff;
  font-weight: 500;
}

.notes {
  width: 300px;
  height: 300px;
  background-color: #f1c75b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.notes h2 {
  align-self: flex-start;
  padding: 0 1rem;
  color: rgba(0, 0, 0, 0.99);
  font-weight: 600;
  margin-top: 1rem;
}

.notes textarea {
  max-width: 300px;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  overflow: auto;
  color: #000;
  padding: 1rem;
  font-size: 16px;
  line-height: 1.75;
  font-size: 1rem;
}

.timer {
  border-radius: 5px;
  width: 720px;
  height: 250px;
  background-color: #1e2343;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.countdownTimer {
  background: #191e39;
}

.timer > div:first-child {
  padding: 1em;
  border-radius: 282px;
  background: #191e39;
  box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.61) inset,
    -3px -7px 16px 0px rgba(95, 88, 88, 0.23);
}

.timer > div:first-child > * {
  font-size: 1.85rem;
  font-weight: 500;
}

.setTimer {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.time {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.time div:first-child {
  max-width: 30px;
  font-size: 1.25rem;
  margin-left: -20px;
  text-transform: capitalize;
  color: #949494;
}

.time div:nth-last-child(2) {
  font-size: 1.65rem;
}

.time img {
  width: 30px;
}

.setTimer + div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.setTimer + div button {
  width: 80%;

  background-color: #ff6a6a;
  border: none;
  outline: none;
  padding: 0.55rem;
  border-radius: 15px;
}
