* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.container {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden;
}

.userInfoWeather {
  height: 48vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.userInfo {
  background-color: #5746ea;
  padding: .25rem;
  width: 400px;
  height: 200px;
  display: flex;
  gap: 10px;
  border-radius: 20px;
}


.image img {
  height: 100%;
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}

.user * {
  font-family: 400;
  font-size: 1rem;
  width: 100px;
}

.userName {
  font-size: 1.25rem;
  font-weight: 500;
}

.genres {
  display: flex;
  width: 250px;
  max-height: 90px;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow: auto;
}

.genres div {
  background-color: #9f94ff;
  width: 100px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

.weather {
  width: 400px;
  height: 100px;
}

.dateTime {
  display: flex;
  gap: 1rem;
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
  gap: 40px;
  background-color: #ff4ade;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.hr {
  height: 60px;
}

.weatherInfo,
.status,
.temperature,
.wind {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherInfo {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #101744;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.status {
  flex-direction: column;
  padding: 5px;
}

.status div {
  font-weight: 400;
  font-size: 1rem;
}

.temperature {
  flex-direction: column;
  gap: 0.5rem;
}

.tempText {
  font-size: 2rem;
}

.wind {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  padding: 0.75rem;
}
.windInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.windInfo > div {
  display: flex;
  flex-direction: column;
}

.newsSection {
  margin: 1rem;
  height: 100vh;
}
.newsCard {
  width: 300px;
  height: 550px;
  position: relative;
}

.newsImage {
  height: 55%;
}

.newsImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.content {
  height: 260px;
  padding: 15px;
  display: flex;
  color: #000;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
}

.heading {
  height: 100px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  
}

.heading h4{
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  max-height: 2em; /* Set the maximum height equivalent to two lines */
  line-height: 1.2em;
  
  /* margin-bottom: 1rem; */
}

.date {
  display: flex;
  gap: 5px;
}
.dateHr {
  border-color: #fff;
}


.button{
  margin-bottom: 2rem ;
  margin-top: 1rem;
  position: absolute;
  right: 0;
}

.button button{
  border: none;
  outline: none;
  padding: 8px 25px;
  border-radius: 15px;
  background-color: #11b800;
  color: #fff;
  font-weight: 500;
}

.notes{
  width: 300px;
  height: 390px;
  background-color: #F1C75B;
  margin: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.notes h2{
  align-self: flex-start;
  padding: 0 1rem;
  color: rgba(0, 0, 0, .99);
  font-weight: 600;
  margin-top: 1rem;
}

.notes textarea{
  max-width: 300px;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  overflow: auto;
  color: #000;
  padding: 1rem;
  font-size: 16px;
  line-height: 1.75;
  font-size: 1rem;
}